html{
  position: relative;
  min-height: 100%;
}
body{
  font-family: "Avenir-Light", "Helvetica Neue";
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container{
/*  margin: auto 0;*/
  padding: 20px;
  box-sizing: border-box;
}
.container .small{
  margin: auto;
  max-width: 760px;
  box-sizing: border-box;
}
.title{
  margin: 80px 0 32px 0;
}
.title h1{
  font-size: 45px;
  letter-spacing: 5px;
  padding: 0;
}
.content{
  box-sizing: border-box;
}
.content .column1{
  display: inline-block;
  float: left;
  padding-right: 30px;
  vertical-align: top;
  width: 70%;
}
.content .column2{
  display: inline-block;
  float: right;
  padding-left: 30px
  vertical-align: top;
  width: 30%;
}
.content h2{
  /*font-size: 25px;*/
  font-size: 2em;
  color: #006A96;
  text-align: left;
}
.content .info{
  font-size: 1.3em;
}
.content .date{
  color: rgba(34,36,39,0.5);
}
.content .mainpoint{
  font-family: "Avenir-Heavy";
  margin: 3px 0; 
}
.content .subpoint{
  color: black;
}
.content:after{
  clear: both;
  content: "";
  display: table;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}
/*=============
  Media Queries
  =============*/
