@font-face{
  font-family:"Avenir-Light";
  src:url("avenir-light-webfont.woff2") format('woff2');
  font-weight: 500;
}
html{
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}
body{
  font-family: "Avenir-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  padding: 0;
  background: #FFF;
  color: #181A1B;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container{
  margin: auto 0;
  padding: 20px;
  box-sizing: border-box;
}
.container .small{
  margin: auto;
  max-width: 760px;
  box-sizing: border-box;
}
.title{
  margin: 80px 0 32px 0;
}
.title h1{
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 5px;
  padding: 0;
}
.content{
  box-sizing: border-box;
}
.content .column1{
  vertical-align: top;
  width: 70%;
  float: left;
  display: inline-block;
  padding-right: 30px;
  box-sizing: border-box;
}
.content .column2{
  vertical-align: top;
  width: 30%;
  float: right;
  display: inline-block;
  padding-left: 30px;
  box-sizing: border-box;
}
.content h2{
  font-size: 1.5em;
  font-weight: normal;
  color: #006A96;
  text-align: left;
}
.content .column1 .info{
  font-size: 1em;
  line-height: 1.75em;
}
.content .column2 .info{
  font-size: 1em;
  line-height: 1.5em;
}
.content .date{
  color: rgba(34,36,39,0.5);
}
.content .mainpoint{
  font-family: "Avenir-Heavy";
  line-height: 1.75em;
}
.content .subpoint{
  color: black;
}
.content:after{
  clear: both;
  content: "";
  display: table;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
/*=============
  Media Queries
  =============*/
