body{
  font-family: "Avenir-Light", "Helvetica Neue";
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container{
/*  margin: auto 0;*/
  padding: 20px;
  box-sizing: border-box;
}
.container .small{
  margin: auto;
  max-width: 760px;
  box-sizing: border-box;
}
.title{
  margin: 80px 0 32px 0;
}
.title h1{
  font-size: 50px;
  letter-spacing: 5px;
  padding: 0;
  text-align: center;
}
.content{
  box-sizing: border-box;
}
.content .column{
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 33.33%;
}
.content h2{
  font-size: 25px;
  text-align: center;
}
.content .info{
  font-size: 1.3em;
}
.content .date{
  color: rgba(34,36,39,0.5);
}
.content .school{
  font-family: "Avenir-Heavy";
}
.content:after{
  clear: both;
  content: "";
  display: table;
}
/*=============
  Media Queries
  =============*/
/* =========== */
.label{
  color:#B3B7EE;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}
