@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

@font-face{
  font-family:"Avenir-Light";
  src:url("avenir-light-webfont.woff2") format('woff2');
  font-weight: 500;
}

:root{
  /*=======================
    Splash Screen Variables
    =======================*/
  --shadow-color: #4b86b4;
  --splashbackground-color1: #03396c;
  --splashbackground-color2: #005b96;
  
  /*===================
    Home Page Variables
    ===================*/
  --footer-size: 90px;
  --background-color: #fdfbfb;
}

html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

body{
  font-family: "Avenir-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  padding: 0;
  padding-bottom: var(--footer-size);
  background-color: var(--background-color);
  color: #181A1B;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


/*=========
  Home Page
  =========*/

.container{
  margin: auto 0;
  padding: 20px;
  box-sizing: border-box;
}
.container .small{
  margin: auto;
  max-width: 760px;
  box-sizing: border-box;
}
.header{
  margin: 80px 0 32px 0;
}
.header h1{
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 5px;
  padding: 0;
}
.content{
  box-sizing: border-box;
}
.content .column1{
  vertical-align: top;
  width: 70%;
  float: left;
  display: inline-block;
  padding-right: 30px;
  box-sizing: border-box;
}
.content .column2{
  vertical-align: top;
  width: 30%;
  float: right;
  display: inline-block;
  padding-left: 30px;
  box-sizing: border-box;
}
.content h2{
  font-size: 1.5em;
  font-weight: normal;
  color: #006A96;
  text-align: left;
}
.content .column1 .info{
  font-size: 1em;
  line-height: 1.75em;
}
.content .column2 .info{
  font-size: 1em;
  line-height: 1.5em;
}
.content .date{
  color: rgba(34,36,39,0.5);
}
.content .mainpoint{
  font-family: "Avenir-Heavy";
  line-height: 1.75em;
}
.content .subpoint{
  color: black;
}
.content:after{
  clear: both;
  content: "";
  display: table;
}
.buttoncontainer{
  text-align: center;
}

body i{
  margin-right: 0.5em;
  display: inline-block;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.button {
  background-color: #006A96; 
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 0 0 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover{
  background-color: #182B49;
}
.button:active{
  background-color: black;
}
.button:focus{
  outline: 0;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer{
  position: relative;
  left: 0;
  bottom: 0;
  height: var(--footer-size);
  width: 100%;
  overflow: hidden;
  display: none;
}
.medialinks{
  text-align: center;
}
.medialinks .blueiconcolor{
  color: #006A96;
  font-size: 1.5em;
}
.medialinks .blueiconcolor:hover{
  color: black;
}
#copyright{
  text-align: center;
}


/*=============
  Splash Screen
  =============*/

#splashscreen{
  position: absolute;
  background-image: linear-gradient(to bottom, var(--splashbackground-color1) 0%,  var(--splashbackground-color2) 100%);
  top:0;
  left:0;
  bottom:0;
  width:100%;
}

.splash-container {
  font-family: 'Fjalla One', sans-serif;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 450px;
}

.enter {
  float: left;
  position: relative;
  bottom: -120px;
  transform: translateX(-50%) rotate(-10deg);
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  font-size: 20px;
}
.enter span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: var(--shadow-color) 1px 1px, var(--shadow-color) 2px 2px, var(--shadow-color) 3px 3px, var(--shadow-color) 4px 4px;
}

#splashscreen h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 65px;
  margin: 0;
  line-height: 70px;
  letter-spacing: 2px;
}

#splashscreen .title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}
#splashscreen .title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: var(--shadow-color) 1px 1px, var(--shadow-color) 2px 2px, var(--shadow-color) 3px 3px, var(--shadow-color) 4px 4px, var(--shadow-color) 5px 5px, var(--shadow-color) 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title:nth-child(1) {
  color: #fff;
}
.title:nth-child(2) {
  color: #fff;
}
.title:nth-child(3) {
  color: #fff;
}

#nonsplashscreen {
  display: none;
}


/*=============
  Media Queries
  =============*/
@media only screen and (max-width:768px){
  /* Tablet */
  .content .column1{
    padding-right: 20px;
  }
  .content .column2{
    padding-left: 20px;
  }
}
@media only screen and (max-width:425px){
  /* Mobile Phone */
  #home .title h1{
    text-align: center;
  }
  .content .column1{
    width: 100%;
    float: none;
    padding-right: 0px;
  }
  .content .column2{
    width: 100%;
    float: none;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
  }
  .content h2{
    text-align:center;
  }
}

